[submodule "02-笔记文档/Agent/Harness/Claw-Theory/claw0"]
	path = 02-笔记文档/Agent/Harness/Claw-Theory/claw0
	url = https://github.com/shareAI-lab/claw0.git
[submodule "02-笔记文档/Agent/Harness/Learn-Claude-Code/learn-claude-code-src"]
	path = 02-笔记文档/Agent/Harness/Learn-Claude-Code/learn-claude-code-src
	url = https://github.com/shareAI-lab/learn-claude-code.git
